:root {
  --trans-speed: .67s;
}

.rotating-text {
  opacity: 1;
  -webkit-transition: opacity var(--trans-speed);
  -moz-transition: opacity var(--trans-speed);
  -o-transition: opacity var(--trans-speed);
  transition: opacity var(--trans-speed);
}

.rotating-text.fade {
  opacity: 0;
}